@model HH.Models.Contributor

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<section id="contact" class="section-bg">
    <div class="container" data-aos="fade-up">
        <h2>Xóa thông tin</h2>

        <h3>Are you sure you want to delete this?</h3>
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Project.Address)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Project.Address)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Fullname)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Fullname)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Phone)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Phone)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Contribution)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Contribution)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DoC)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DoC)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>
        </div>
</section>